*{
	margin: 0px; 
	padding: 0px;
	box-sizing: border-box;
}
body{
	
	background: orange;
}
#container{
	
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(3 , 33.33%); 
	grid-template-rows: 25% 10% 1fr 20%;
	grid-row-gap: 30px;

	/*fedra  mama
	walter papa
	zamira  hija*/

}
#header img{
	height: 100px;
	border-radius: 50%;
}
#title{
	display: flex;
	flex-direction: column;
	justify-content:space-around;
}
#header{
	grid-row-start: 1; 
	grid-row-end: 2;
	
	grid-column-start:1; 
	grid-column-end: -1;

	/*width: 100%;*/
	display: flex;
	justify-content: space-around;
	padding: 20px;
	background: #444;
	text-shadow: 2px 2px 5px #4ff;
	font-size: 30px;
}

#btn{
	grid-row-start: 2; 
	grid-row-end: 3;
	
	grid-column-start:2; 
	grid-column-end: 3;

	position: relative;
	right: 40px;
	padding: 20px;
	font-weight: bolder;
	letter-spacing: 2px;
	font-size: 20px;
	background: forestgreen;
	border: none;
	border-radius: 20px;
	text-shadow: 2px 2px 3px #ccc;
	box-shadow: 0px 10px 3px #000;
}
#btn:active{
	transform: translate(0px, 10px);
	box-shadow: 0px 0px 0px;
}
#table{
	position: relative;
	right: 45px;
	grid-row-start: 3; 
	grid-row-end: 4;
	
	grid-column-start:2; 
	grid-column-end: 3;

	background: #ccc;
	text-align: center;
}
#table tr td{
	padding: 10px;
	
}
footer{
	grid-row-start: 4; 
	grid-row-end: -1;
	
	grid-column-start:1; 
	grid-column-end: 4;


	line-height: 100px;
	text-align: center;
	font-size: 20px;
	background: #444;
	color: yellow;
	text-shadow: 2px 2px 3px blue;
}
@media screen and (max-width: 560px){
	#header{
		/*grid-row-start:1 ;
		grid-row-end: 5;
		grid-column-start:1 ;
		grid-column-end: 2;
*/
		align-items: center;
		justify-content: space-between;


	}	
	#title{
		font-size: 20px;
		display: flex;
		justify-content: space-around;
	}
	#header img{
		height: 70px;
		position: relative;
		/*right: 105px;
		bottom: 250px;*/
		
	}
	#btn{
		/*grid-column-start:2 ;
		grid-column-end: 3;

		grid-row-start:1;
		grid-row-end:2;*/

		left: 40px;
		

	}
	#table{

		grid-column-start: 1;
		grid-column-end: -1;

		right: 0px;

	}
	footer{
		width: 100vw;
		grid-column-start:1; 
		grid-column-end: 7;

		grid-row-start:4;
		grid-row-end: 5;
		
	}
	
}